#background{
  z-index: -10;
  background-size: 100% 130%;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  margin-top: 50px;
}
#middle_container {
	background-color: rgba(0,0,0,0.77);
	padding: 20px;
	z-index: 1;
	height: 100%;
	margin-bottom: 75px;
	padding-top: 45px;
}
#jumbo {
	background-color: rgb(241,184,45);
}
#index_page_button {
	margin: 0 auto;
	width: auto;
}
#middle_padding {
	padding: 0px auto;
}
#small_img {
	width: 600px;
	height: 396px;
	border-radius: 10px;
}
.index_div {
	border-radius: 10px;
	background-color: rgba(187, 186, 186, 0.77);
	z-index: 2;
	padding: 15px;
}
#one_mizzou {
	color: rgb(241,184,45);
	text-shadow: 2px 2px 2px black;
}
#one_mizzou_center {
	color: rgb(241,184,45);
	text-shadow: 2px 2px 2px black;
	text-align: center;
}
#group {
	width: auto;
	height: 500px;
	margin: 0px auto;
	border-radius: 10px;
}
#padding {
	padding: 20px;
	width: 790px;
	margin: 0px auto;
}
#sec {
	width: 100%;
	height: 100%;
	border-radius: 200%;
	border: 3px solid white;
	margin: auto;
}
#sec_pic {
	margin: auto;
	padding-top: 80px;
	padding-bottom: 80px;
}
#btn_center {
	margin: 0px auto;
}
#tutorial_text{
	color: black;
	font-style: arial;
	font-weight: bold;
}
#tutorial {
	margin-bottom: 20px;
}
#tableee {
	padding: 0px;
	border: 15px solid grey;
}
#tableee tbody tr:nth-child(2n+1) {
		background-color: #CACACA;
}
#members_table {
	margin-bottom: 0px;
	border-color: black;
}
#login_table {
	border-color: rgb(241,184,45);
	background-color: transparent;
}
#login_header {
	color: rgb(241,184,45);
	background-color: black;
	border-bottom-color: black;
}
#login_header2 {
	color: rgb(241,184,45);
	background-color: white;
	border-bottom-color: black;
}
#coach {
	width: 400px;
	height: 400px;
	border: 5px solid black;
}
#hide_bullets {
	list-style: none;
}
#coach_row{
	border-bottom: 2px solid grey;
	padding-top: 30px;
	padding-bottom: 30px;
}
#coach_row2{
	padding-top: 30px;
	padding-bottom: 30px;
}
#no_top{
	padding-top: 0px;
	padding-bottom: 0px;
}
.lax {
	width: 100%;
	height: 100%;
	border: 4px solid black;
	border-radius: 10px;
}
.row2 {
	margin: 40px 0px;
}
.jumbo2{
	padding: 10px;
	padding-top: 20px;
}
#members_header {
	color: rgb(241,184,45);
	background-color: black;
	border-bottom-color: black;
}
#table_members{
	padding: 0px;
	border: 15px solid grey;
	border-top-color: grey;
}
#error_message{
	margin: 0px;
}
#contact{
	background-color: grey;
}
.coach{
	border-color: black;
}
#tiger_img {
	width: 600px;
	height: 396px;
	border-radius: 100%;
}
#video{
	padding-right: 43.5px;
	padding-left: 43.5px;
}
#video_box{
	margin: 0px auto;
	border: 4px solid black;
}